@model IEnumerable<MfKahveci.Models.Kahveci>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<p>
    @Html.ActionLink("Yeni Ürün", "Yeni", null, new {@class="btn btn-warning"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ozellik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fiyat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrunAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ozellik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fiyat)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.UrunNo },new {@class="btn btn-danger"}) |
           
            @Html.ActionLink("Sil", "Delete", new { id=item.UrunNo }, new { @class = "btn btn-success" })
        </td>
    </tr>
}

</table>
